/* aqui van los estilos de los graficos */
/* de momento la idea es tener 2 graficos, el de consumo en ese dia, y el de cerro navia*/


.container {
    display: flex;
}

.chart {
    width: 50%;
    height: 200px;
}
