<!DOCTYPE html>
<html leng="es">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="static/css/home.css">
  </head>


  <!--barra de navegacion-->
  <body>
    <header class="header">
      <a href="/"><img src="static/img/logo.png" alt="logo"></a>
      <nav class="navbar">
          <a href="/dia_1">Mi Consumo</a>
          <a href="#">Mi Perfil</a>    
      </nav>
    </header>


    <h1 style="text-align: center; margin: 100px 0px;"> Grafico de Ahorro</h1>


    <footer class="footer" style="margin-top: 654px;">
      <p>2024 | grupo 69</p>
    </footer>

  </body>
</html>