<!DOCTYPE html>
<html leng="es">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/grafico.js') }}"></script>
  <title>Home</title>
  <link rel="stylesheet" href="static/css/home.css">
</head>


<body>
  <header class="header">
    <a href="/"><img src="static/img/logo.png" alt="logo"></a>
    <nav class="navbar">
      <a href="/dia_1">Mi Consumo</a>
      <a href="#">Mi Perfil</a>
    </nav>
  </header>

  <h2 style="text-align: center; margin: 100px 0px;"> Valores de Ahorro en {{ fecha }}</h2>

  <div class="button-container">
    <button class="button" onclick="window.location.href='/ahorro_dia_{{ dia - 1 }}';">Previous</button>
    <button class="button" onclick="window.location.href='/ahorro_dia_{{ dia + 1 }}';">Next</button>
  </div>

  <div class="ahorros_container">
    <div class="ahorro_anual">
      Gasto anual sin ECOSAVER: ${{ gasto_anual }}<br>
      Gasto anual con ECOSAVER: ${{ gasto_anual - ahorros_anuales['ahorro_anual'] }}<br>
      Ahorro anual con ECOSAVER: ${{ ahorros_anuales['ahorro_anual'] }} (aprox. {{ ahorros_anuales['ahorro_porcentual']
      }}%)
      <div class="pieChart">
        <canvas id="myChartAnual"></canvas><br>

      </div>


    </div>

    <div class="ahorro_diario">
      Gasto diario sin ECOSAVER: ${{ gasto_diario }}<br>
      Gasto diario con ECOSAVER: ${{ (gasto_diario - ahorros_diarios['ahorro_diario'])|round(2) }}<br>
      Ahorro diario ese dia con ECOSAVER: ${{ ahorros_diarios['ahorro_diario'] }} (aprox.
      {{ahorros_diarios['ahorro_diario_porcentual']}}%)<br>
      <div class="pieChart">
        <canvas id="myChartDiario"></canvas>

      </div>
    </div>
  </div>

  <div class="multiLineChart">
    <canvas id="myMultiLineChart"></canvas>
  </div>

  <script>

    const lightgreen = 'rgba(0, 128, 0, 0.2)';

    createMultiLineChart(elementId = 'myMultiLineChart',
      datasetlabels = "{{ multiLineData.labels | tojson}}",
      datasetData1 = "{{ multiLineData.data1 | tojson}}",
      datasetData2 = "{{ multiLineData.data2 | tojson}}",
      titleLabel1 = "gasto sin ECOSAVER",
      titleLabel2 = "gasto con ECOSAVER",
      xlabel = "Dia",
      yLabel = "$USD",
      color1 = 'gray',
      color2 = 'green'
    )

    createPieChart(elementid = 'myChartDiario',
      datasetLabel1 = "Ahorro del dia {{ fecha }}",
      datasetLabel2 = "Resto",
      title = "Ahorro del dia {{ fecha }}",
      color1 = lightgreen,
      color2 = 'lightgray',
      data1 = "{{ ahorros_diarios['ahorro_diario_porcentual']}}",
      data2 = "{{ 100 - ahorros_diarios['ahorro_diario_porcentual']}}"
    )

    createPieChart(elementid = 'myChartAnual',
      datasetLabel1 = "Ahorro del año",
      datasetLabel2 = "Resto",
      title = "Ahorro del año",
      color1 = lightgreen,
      color2 = 'lightgray',
      data1 = "{{ ahorros_anuales['ahorro_porcentual']}}",
      data2 = "{{ 100 - ahorros_anuales['ahorro_porcentual']}}"
    )


    // grafico del ahorro diaro por hora
    // createChart(elementId = 'myChart',
    //   datasetlabels
    // )

  </script>

  <footer class="footer" style="margin-top: 654px;">
    <p>2024 | grupo 69</p>
  </footer>



</body>

</html>
