<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Grafico</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graph_style.css') }}">
</head>

<body>
    <div class="chart-container">
        <h2> Consumo Electrico en Planta Cerro Navia - {{ fecha }} </h2>
        <canvas id="myChart"></canvas>
    </div>
    <script>

        // para cargar los json
        var labels = JSON.parse('{{ dataset.labels | tojson }}');
        var data = JSON.parse('{{ dataset.data | tojson }}');
        console.log(labels)
        console.log(data)

        // Your data for line chart
        var lineData = {
            labels: labels,
            datasets: [{
                label: 'Consumo',
                data: data,
                borderColor: 'rgba(255, 99, 132, 1)', // Color of the line
                backgroundColor: 'rgba(255, 99, 132, 0.2)', // Color of the area under the line
                borderWidth: 1, // Width of the line
                fill: false // Fill the area under the line
            }]
        };

        // Create the line chart
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: lineData,

            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Hora'
                        }
                    },

                    y: {
                        title: {
                            display: true,
                            text: 'Consumo de Energia [KW/h]'
                        },

                        ticks: {
                            beginAtZero: true
                        },
                    }
                }
            }
        });
    </script>
</body>

</html>
