<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Grafico</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graph_style.css') }}">
</head>



<body>

    <header class="header">
        <img src="static/img/logo.png" alt="logo">
        <nav class="navbar">
            <a href="#"></a>
            <a href="/ahorro">Mi Ahorro</a>
            <a href="#">Mi Perfil</a>
        </nav>
    </header>

    <a href="/dia_{{ dia - 1 }}">previous</a>
    <a href="/dia_{{ dia + 1 }}">next</a>

    <h2> {{ fecha }} </h2>

    <div class="container">
        <div class="chart"><canvas id="myChart1"></canvas></div>
        <div class="chart"><canvas id="myChart2"></canvas></div>
    </div>


    <script>
        // funcion para crear los graficos mas rapido
        function createChart(elementId, datasetlabels, datasetData, titleLabel, xLabel, yLabel, color) {
            // para cargar los json
            var labels = JSON.parse(datasetlabels);
            var data = JSON.parse(datasetData);
            console.log(labels)
            console.log(data)

            // Your data for line chart
            var lineData = {
                labels: labels,
                datasets: [{
                    label: titleLabel,
                    data: data,
                    borderColor: color, // Color of the line
                    backgroundColor: 'rgba(255, 99, 132, 0.2)', // Color of the area under the line
                    borderWidth: 1, // Width of the line
                    fill: false // Fill the area under the line
                }]
            };

            // Create the line chart
            var ctx = document.getElementById(elementId).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: lineData,

                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: xLabel
                            }
                        },

                        y: {
                            title: {
                                display: true,
                                text: yLabel
                            },

                            ticks: {
                                beginAtZero: true
                            },
                        }
                    }
                }
            });
        }


        createChart(elementId = 'myChart1',
            datasetlabels = '{{ dataset_cn.labels | tojson }}',
            datasetData = '{{ dataset_cn.data | tojson }}',
            titleLabel = 'Costo en dolares del MW/h en Cerro Navia',
            xLabel = 'Hora',
            yLabel = 'USD/MWh',
            color = 'rgba(255, 99, 132, 1)')

        createChart(elementId = 'myChart2',
            datasetlabels = '{{ dataset_consumo.labels | tojson }}',
            datasetData = '{{ dataset_consumo.data | tojson }}',
            titleLabel = 'Consumo electrico en $USD',
            xLabel = 'Hora',
            yLabel = ' USD',
            color = 'rgba(0, 0, 255, 1)')

    </script>
</body>

</html>
