<!DOCTYPE html>
<html leng="es">

<head>
  <title>Home</title>
  <link rel="stylesheet" href="static/css/home.css">
</head>


<!--barra de navegacion-->

<body>
  <header class="header">
    <a href="/"><img src="static/img/logo.png" alt="logo"></a>
    <nav class="navbar">
      <a href="/ahorro_dia_1">Mi Ahorro</a>
      <a href="/dia_1">Mi Consumo</a>
      <a href="#">Mi Perfil</a>
    </nav>
  </header>


  <div class="row1">
    <div class="col1">
      <h2>Bienvenidos a <br> ECOSAVER </h2>
      <h3>Potencia el ahorro de tu empresa</h3>
    </div>

    <div class="col2">
      <img src="static/img/grafico.avif" alt="renovable" class="renovable">
    </div>
  </div>



  <footer class="footer">
    <p>2024 | grupo 69</p>
  </footer>


</body>

</html>
