<!DOCTYPE html>
<html>

<head>
    <title>ING2030 - Grupo 69</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>ING2030 - Grupo 69</h1>
    <ul>
        <li><a href="/cerro_navia_1">Cerro Navia - dia 1</a></li>
        <li><a href="/cerro_navia_2">Cerro Navia - dia 2</a></li>
        <li><a href="/cerro_navia_3">Cerro Navia - dia 3</a></li>
        <li><a href="/cerro_navia_4">Cerro Navia - dia 4</a></li>
        <li><a href="/cerro_navia_5">Cerro Navia - dia 5</a></li>
        <li><a href="/cerro_navia_6">Cerro Navia - dia 6</a></li>
        <li><a href="/cerro_navia_7">Cerro Navia - dia 7</a></li>
        <li><a href="/cerro_navia_8">Cerro Navia - dia 8</a></li>
        <li><a href="/cerro_navia_9">Cerro Navia - dia 9</a></li>
        <li><a href="/cerro_navia_10">Cerro Navia - dia 10</a></li>
        <li><a href="/cerro_navia_11">Cerro Navia - dia 11</a></li>
        <li><a href="/cerro_navia_12">Cerro Navia - dia 12</a></li>
        <li><a href="/cerro_navia_13">Cerro Navia - dia 13</a></li>
        <li><a href="/cerro_navia_14">Cerro Navia - dia 14</a></li>
        <li><a href="/cerro_navia_15">Cerro Navia - dia 15</a></li>
        <li><a href="/cerro_navia_16">Cerro Navia - dia 16</a></li>
        <li><a href="/cerro_navia_17">Cerro Navia - dia 17</a></li>
        <li><a href="/cerro_navia_18">Cerro Navia - dia 18</a></li>
        <li><a href="/cerro_navia_19">Cerro Navia - dia 19</a></li>
        <li><a href="/cerro_navia_20">Cerro Navia - dia 20</a></li>
        <li><a href="/cerro_navia_21">Cerro Navia - dia 21</a></li>
        <li><a href="/cerro_navia_22">Cerro Navia - dia 22</a></li>
        <li><a href="/cerro_navia_23">Cerro Navia - dia 23</a></li>
        <li><a href="/cerro_navia_24">Cerro Navia - dia 24</a></li>
        <li><a href="/cerro_navia_25">Cerro Navia - dia 25</a></li>
        <li><a href="/cerro_navia_26">Cerro Navia - dia 26</a></li>
    </ul>
</body>

</html>
